<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventoryManagementSystem.Properties.Settings.D__SOFTWAREPROJECTS_INVENTORYMANAGEMENTSYSTEM_INVENTORYMANAGEMENTSYSTEM_DB_IMSDB_MDFConnectionString" connectionString="Data Source=WASIM-AKRAM;Initial Catalog=dbIMS;Integrated Security=true;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
        <add name="InventoryManagementSystem.Properties.Settings.IMSdbConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB\IMSdb.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
